@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .qatetext,
  .qateicon{
    display: none;
  }
  .suraq.error .qatetext,
  .suraq.error .qateicon{
    display: block;

  }
  html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  #nav{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    padding: 100px 0;
  }
  .chelsea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .soltustik{
    flex:1;
    margin-bottom: 50px;
  }
  .soltustik h1{
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 15px;
  }
  .soltustik p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
  .ontustik{
    flex: 1;
  }
  .ontustik .tobe{
    background-color: hsl(248
      , 32%, 49%);
    color: white;
    padding: 15px 90px;
    border-radius: 15px;
    box-shadow: 0 7px hsl(279, 10%, 26%, 0.404);
    margin-bottom: 30px;
  }
  .ontustik .tobe p{
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
  .ontustik .orta{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 7px hsl(279, 10%, 26%, 0.404);
  }
  .suraq{
    position: relative;
    margin-bottom: 25px;
  }
  .ontustik label{
    display: none;
  }
  .ontustik input,
  .ontustik button[type = submit] {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1.3px solid hsl(246, 25%, 77%);
    padding-left: 20px;
    outline: none;
    color: hsl(249, 10%, 26%);
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 600;
  }
  .ontustik input:focus{
    border: 1.5px solid hsl(249, 10%, 26%);
      }
      .ontustik input::placeholder{
        color: hsla(249, 10%, 0.678);
        font-size: 1.1rem;
        font-weight: 600;
        font-family: 'Poppins';
      }
 
 .btn{
  border: none;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0px 4px hsl(154, 56%, 44%)
  color: blue;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  transition: 0.5s;
 }
 .btn:hover{

  background-color: hsl(154, 80%, 63%);
 }

.ontustik .sony{
  margin-top: 10px;
  color: hsl(246, 25%, 77%);
}
.ontustik .sony span{
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
.qateicon{
  position: absolute;
  top: 28%;
  right: 20px;
}
.qatetext{
  text-align: right;
  font-size: italic;
  color: hsl(0, 100%, 74%);
  font-weight: 500;
}
@media only screen and (min-width: 1000px){
  #nav{
    background-image: url(./images/bg-intro-desktop.png);
  }
  .chelsea{
    flex-direction: row;
  }
  .soltustik{
    text-align: left;
    padding-right: 50px;

  }
  .soltustik h1{
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .soltustik p {
    font-size: 1.1rem;
  }
  .ontustik{max-width: 500px;}
}
.ontustik .tobe p{
  font-size: 1.1rem;
}
.ontustik .tobe{
padding: 40px;
}
.ontustik .orta{
  padding: 40px;
}
.ontustik input,
.ontustik input:placeholder{
  font-size: 1.05rem;
}
.ontustik .sony{
  margin-top: 20px;
 font-size: 0.7rem; 
}